html
{
    width: 100%;
    height: 100%;
}
#video_page_body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#video_page
{
    transform: translateY(15%);
    display: flex;
    width: 100%;
    height: 100%; 
}
#video_screen
{
    width: 70%;
    height: 85%;
}
#video_infos
{
    height: 85%;
    width: 30%;
    display: block;
}
video
{
    width: 100%;
    height: 100%;
}
video:focus
{
    outline: none;
}

#video_title
{
    width: 100%;
    height: 30%;
    background-color: lime;
    border-bottom: 2px solid black;
    background-color: rgb(61, 61, 61);
}
#video_title label
{
    width: 20%;
    height: 5%;
}
#video_comments
{
    overflow-y: scroll;
    width: 100%;
    height: 55%;
    background-color: rgb(80, 79, 79);
}
#video_page_body *::-webkit-scrollbar
{
    width: 15px;
}
#video_page_body *::-webkit-scrollbar-track
{
    background-color: #333;
}
#video_page_body *::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background: linear-gradient(to right, #30CFD0 0%, violet 100%);
}
#title_user
{
    width: 100%;
    height: 40%;
    border-bottom: 1px solid black;
    display: flex;
}
#title_user:hover
{
    cursor: pointer;
    background-color: rgb(85, 85, 85);
}
#title_user h1
{
    font-weight: 100;
    margin: 0;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    font-size: 25px;
}
#title_user img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 2%;
    margin-top: 2%;
    border: 2px solid white;
    background-color: white;
}
#video_desc
{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 60%;
}
#video_desc h1
{
    margin-top: 0;
    margin-bottom: 4%;
    text-align: center;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 100;
}
#video_desc p
{
    margin: 0;
    text-align: justify;
    color: white;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

#add_comment
{
    width: 30%;
    height: 10%;
    position: fixed;
    background-color: #333;
    top: 73%;
    border: 2px solid black;
    border-right: 0;
    border-left: 0;
}
#add_comment img
{
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    vertical-align: middle;
    margin: 2%;
}
#add_comment input[type="text"]
{
    width: 60%;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    background-color: rgb(29, 29, 29);
    border: 2px solid black;
    color: white;
    text-align: center;
}
#add_comment input[type="text"]:focus
{
    outline: none;
}
#add_comment input[type="submit"]
{
    border-radius: 10px;
    border: 2px solid black;
    font-size: 25px;
    background-color: rgb(88, 88, 88);
    color: white;
    font-family: 'Squarewave';
}
#add_comment input[type="submit"]:hover
{
    background-color: rgb(112, 111, 111);
}
#add_comment input[type="submit"]:focus
{
    outline:none;
}
#add_comment input[type="submit"]:active
{
    background-color: rgb(34, 34, 34);
}
.comment
{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    display: flex;
}
.avatar_comment
{
    height: 100%;
    width: 15%;
    border-radius: 50%;
}
.avatar_comment img:hover
{
    cursor: pointer;
}
.user_comment:hover
{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: violet;
}
.avatar_comment img
{
    margin-top: 10%;
    margin-left: 10%;
    width: 70%;
    height: 70%;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
}
.infos_comment
{
    height: 100%;
    width: 85%;
}
.user_comment
{
    width: 100%;
    height: 30%;
}
.user_comment h1
{
    margin: 0;
    font-size: 20px;
    color: #30CFD0;
    font-weight: 200;
}
.text_comment
{
    width: 100%;
    height: 70%;
}
.text_comment p
{
    margin: 0;
    margin-top: 1%;
    color: white;
    font-size: 15px;
}
.user_comment span h1
{
    color: rgb(174, 113, 235);
}
